// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import '~/assets/colors';

$headings-font-family: 'Raleway', sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif;
$enable-rounded: false;
$input-bg: $light;
$input-border-width: 1px;
$input-border-color: $blue;
$input-focus-bg: darken($light, 3%);

$color-mode-type: data;

// 3. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/forms';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import 'bootstrap/scss/utilities/api';

// 8. Add additional custom code here
html {
  height: 100%;
}

body {
  min-height: 100%;
}

hr {
  margin: 50px auto;
  width: 30%;
}

.vue-icon {
  vertical-align: -0.125em;
}

.form-control {
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-left-width: 0 !important;
  transition: border-color 0.15s ease-in-out, border-bottom-width 0.2s ease-in-out !important;

  &:focus {
    box-shadow: none !important;
    border-bottom-color: $primary !important;
    border-bottom-width: 5px !important;
  }

  &:disabled {
    background-color: darken($light, 3%) !important;
    color: $text-muted !important;
    border-bottom-color: $text-muted !important;
  }
}

@include color-mode(dark) {
  .form-control {
    background-color: $dark !important;
  }
}

.form-floating label::after {
  background-color: transparent !important;
}

.form-floating > .form-control:focus ~ label {
  color: $primary !important;
}
